.navbar {
  background-color: blue;
  padding: 15px 20px;
}
.navbar .container {
  display: flex !important;
  justify-content: space-between;
}
.navbar .container a {
  color: white;
}
.bookItem {
  display: flex;
  width: 450px;
  justify-content: space-between;
  margin: 10px auto;
  background-color: rgb(177, 179, 180);
  padding: 5px;
  border-radius: 5px;
}
.bookItem a {
  color: black;
  align-self: center;
}
